.blackbarpanel {
    background-color: darkslategray;
    display: inline-block;
    width: 18%;
    position: fixed;
    height: 100vh;
}

.left-panel {
    left: 0;
}

.right-panel {
    right: 0;
}