.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goose-center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding-top: 5%;
}

.middle-padding{
    padding-top: 6.9%;
}

.centered-text {
    text-align: center;
    font-size: 1vw;
}

.saab {
    text-align: left;
    font-size: 1vw;
    padding-left: 22%;
}