.header {
    color: white;
    font-family: 'VeganStyle';
    font-size: 20px;
    position: sticky;
    letter-spacing: 6px;
}

@font-face {
    font-family: "VeganStyle";
    src: local("VeganStyle"), url("../font/VeganStyle.ttf") format("truetype");
}