.paneltextalignment {
    text-align: center;
    font-size: large;
}

.topcar {
    top: 0%;
    position: absolute;
}

.left {
    left: 10%;
}

.right {
    right: 10%;
}

.bottomcar {
    bottom: 10%;
    position: absolute;
}