html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.centerSpace {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.smallerfont {
    font-size: 100%;
}
