.paneltextalignment {
    text-align: center;
    font-size: large;
}

.topcar {
    bottom: 37rem;
    position: absolute;
}

.left {
    left: 2.25rem;
}

.right {
    right: 2.25rem;
}

.bottomcar {
    top: 27rem;
    position: absolute;
}