html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.centerSpace {
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-left: 22%;
    
}

.smallerfont {
    font-size: 0.85vw;
}

.founder {
    align-items: center;
    justify-content: center;
    text-align: center;
}